 <!--One Entry-->
 <tr id="{{this.id}}">
     <td class="movie-id">{{this.id}}</td>
     <td class="movie-name">{{this.name}}</td>
     <td class="Edit Button">
         <button type="button" class="btn btn-primary add-discount" id="add-discount-btn" data-bs-toggle="modal"
             data-bs-target="#product_modal" data-id="{{this.id}}" data-name="{{this.name}}" data-rank="{{this.rank}}">View
             Movie</button></td>
 </tr>
 <!--One Entry-->