 <!--One Entry-->
 <tr id="{{this.id}}">
     <td class="movie-id">{{this.id}}</td>
     <td class="movie-name">{{this.name}}</td>
     <td class="movie-year">{{this.year}}</td>
     <td class="Edit Button">
         <a href="/movie-page/{{this.id}}/{{this.year}}">
         <button type="button" class="btn btn-primary view-movie-btn" data-bs-toggle="modal"
             data-bs-target="#product_modal" data-id="{{this.id}}" data-name="{{this.name}}" data-rank="{{this.rank}}" data-year="{{this.year}}">View
             Movie</button>
         </a>
         </td>
 </tr>
 <!--One Entry-->